#IndexB{
background: url("IndexBackground.jpg"); 
  background-repeat:no-repeat;
  background-size:100% 100vh;
  background-attachment: fixed;
}
#q1{
background: url("1.jpg"); 
  background-repeat:no-repeat;
  background-size:100% 100vh;
  background-attachment: fixed;
}
#q2{
background: url("2.jpg"); 
  background-repeat:no-repeat;
  background-size:100% 100vh;
  background-attachment: fixed;
}
#q3{
background: url("3.jpg"); 
  background-repeat:no-repeat;
  background-size:100% 100vh;
  background-attachment: fixed;
}
#q4{
background: url("4.jpg"); 
  background-repeat:no-repeat;
  background-size:100% 100vh;
  background-attachment: fixed;
}
#q5{
background: url("5.jpg"); 
  background-repeat:no-repeat;
  background-size:100% 100vh;
  background-attachment: fixed;
}
#q6{
background: url("6.jpg"); 
  background-repeat:no-repeat;
  background-size:100% 100vh;
  background-attachment: fixed;
}
#q7{
background: url("7.jpg"); 
  background-repeat:no-repeat;
  background-size:100% 100vh;
  background-attachment: fixed;
}
#q8{
background: url("8.jpg"); 
  background-repeat:no-repeat;
  background-size:100% 100vh;
  background-attachment: fixed;
}
#q9{
background: url("9.jpg"); 
  background-repeat:no-repeat;
  background-size:100% 100vh;
  background-attachment: fixed;
}
#q10{
background: url("10.jpg"); 
  background-repeat:no-repeat;
  background-size:100% 100vh;
  background-attachment: fixed;
}
#q11{
background: url("11.jpg"); 
  background-repeat:no-repeat;
  background-size:100% 100vh;
  background-attachment: fixed;
}
#q12{
background: url("12.jpg"); 
  background-repeat:no-repeat;
  background-size:100% 100vh;
  background-attachment: fixed;
}
#q13{
background: url("13.jpg"); 
  background-repeat:no-repeat;
  background-size:100% 100vh;
  background-attachment: fixed;
}
#q14{
background: url("14.jpg"); 
  background-repeat:no-repeat;
  background-size:100% 100vh;
  background-attachment: fixed;
}
#q15{
background: url("15.jpg"); 
  background-repeat:no-repeat;
  background-size:100% 100vh;
  background-attachment: fixed;
}
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
	font-size: 16px;
}
a:visited {
    color: white;
    background-color: transparent;
font-size: 16px;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
font-size: 16px;
    text-decoration: underline;
}
a:active {
    color: black;
    background-color: transparent;
font-size: 16px;
    text-decoration: underline;
}
.btn {
 
 background: #2f17e6;
  
background-image: -webkit-linear-gradient(top, #2f17e6, #041f4d);
  background-image: -moz-linear-gradient(top, #2f17e6, #041f4d);
  
background-image: -ms-linear-gradient(top, #2f17e6, #041f4d);
  
background-image: -o-linear-gradient(top, #2f17e6, #041f4d);
  background-image: linear-gradient(to bottom, #2f17e6, #041f4d);
  
-webkit-border-radius: 60;
 
 -moz-border-radius: 60;
 
 border-radius: 60px;
  
text-shadow: 3px 5px 9px #030003;
  
font-family: Arial;
  
color: #ffffff;
 
 font-size: 20px;
  
padding: 10px 20px 10px 20px;
 
 text-decoration: none;

}


.btn:hover {
  background: #f6fc3c;
 
 text-decoration: none;

}
div {
    border: 1px solid black;
    margin-top: 7%;
    margin-bottom: 5%;
    margin-right: 15%;
    margin-left: 15%;
    background-color: #ffffff;
 padding: 25px;
}
h1 {
   font-family:Arial;
font-size:12px;
}
p{
   font-family:Arial;
font-size:10px;
}
ol{
 font-family:Arial;
font-size:12px;
}
#sad{
max-width: 100%;
    height: auto;
}
#happy{
max-width: 100%;
    height: auto;
}
}